.title {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 8%; 
    gap: 10px; 
    justify-content: center;
    align-items: center;
}
.button {
    height: 50px;
}